@*@using _4_22AjaxGetPost.da*@
@*@model IEnumerable<Person>*@
@if (TempData["Message"] != null)
{
    <div id="alert" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}


<div class="text-center">
    <h1> People </h1>
</div>


<div class="row" style="margin-bottom:30px">
    <button id="btn-add" class="btn btn-primary">Add Person</button>
</div>

<div class="row">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody id="tbl-ppl">
        </tbody>
        @*@foreach(Person p in Model)
            {
            <tr>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
                <td>@p.Age</td>
                <td><button class="btn btn-success btnedit" data-personid="@p.Id">Edit @p.Id </button></td>
                <td><button class="btn btn-danger btndel" data-personid="@p.Id">Delete</button></td>

            </tr>
            }*@




    </table>

</div>

<div id="modal-ppl" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="title" class="modal-title">New Person</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">

                <input id="first" class="form-control" name="firstName" placeholder="First Name" type="text">
                <br />
                <input id="last" class="form-control" name="lastName" placeholder="Last Name" type="text">
                <br />
                <input id="age" class="form-control" name="age" placeholder="Age" type="text">
                
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="modal-add" class="btn btn-primary" name="commit">Save</button>
                <button id="modal-update" class="btn btn-primary" name="commit">Save</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<!-- /.modal -->


@section scripts {
    <script src="/js/index.js"></script>
}
